<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panell d'Administració</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

    <header>
        <h1>Panell d'Administració</h1>
        <nav>
            <a th:href="@{/cinemes}">Cinemes</a>
            <a th:href="@{/movies}">Pel·lícules</a>
            <a th:href="@{/news}">Notícies</a>
            <a th:href="@{/}">Home (Panell client)</a>
            <a th:href="@{/logout}">Logout</a>
        </nav>
        <hr>
    </header>

    <main>
        <h2>Benvingut, administrador!</h2>
        <p>Des d'aquí pots gestionar tots els recursos del cinema.</p>
    </main>

    <footer>
        <hr>
        <p>DAW1 2026</p>
    </footer>

</body>

</html>