<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Document</title>
</head>

<body>



    <h1>Llista Cinemes</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Ciutat</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cinema : ${llista}">
                <td th:text="${cinema.name}">Nom</td>
                <td th:text="${cinema.city}">Ciutat</td>

                <td>
                    <a th:href="@{/cinemes/{id}(id=${cinema.id})}">Veure detalls</a>
                </td>

                <td>
                    <a th:href="@{/cinemes/delete/{id}(id=${cinema.id})}">Eliminar cinema</a>
                </td>

                <td>
                    <a th:href="@{/cinemes/update/{id}(id=${cinema.id})}">Editar cinema</a>
                </td>

            </tr>

        </tbody>
    </table>
    <br>
    <br>
    <br>
    <a th:href="@{/cinemes/create}">Crear nou cinema</a>
</body>

</html>