<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Serveis Cinema</title>
</head>
<body>

<form th:action="@{/services}" th:object="${servicesDTO}" method="post">

    <form th:action="@{/cinema/services}" th:object="${servicesDTO}" method="post">

        <label th:each="s : ${allServices}">
            <input type="checkbox" th:field="*{services}" th:value="${s}">
            <span th:text="${s}"></span>
        </label>

        <button type="submit">Guardar</button>

    </form>

    <button type="submit">Guardar</button>

</form>