<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <h1>Pel·lícules disponibles</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Sessions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.title}">Nom</td>
                <td>
                    <a th:href="@{/sessions/{movieId}/sessions(movieId=${movie.id})}">Veure Sessions</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="/logout">Logout</a>

</body>

</html>