<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Historial de Comandes</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Client</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí se mostrarán las comandes -->
        <tr th:each="comanda : ${comandes}">
            <td th:text="${comanda.id}">1</td>
            <td th:text="${comanda.data}">2024-06-01</td>
            <td th:text="${comanda.client.nom}">Client Name</td>
            <td th:text="${comanda.total}">100.00</td>
        </tr>
    </tbody>

</body>
</html>