<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <form th:action="@{/cinema/create}" method="post">

        <label>nom</label>
        <input type="text">
        <br>

        <label>adreca</label>
        <input type="text">
        <br>

        <label>city</label>
        <input type="text">
        <br>

        <label>codi</label>
        <input type="text">
        <br>

    </form>
</body>

</html>