<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Nom del cinema:</h1>
    <h2 th:text="${cinema.name}">Nom</h2>

    <h1>Adreça:</h1>
    <h2 th:text="${cinema.Address}">Adreça</h2>

    <h1>Codi postal:</h1>
    <h2 th:text="${cinema.PostalCode}">Codi Postal</h2>

    <h1>ID del cinema:</h1>
    <h2 th:text="${cinema.id}">ID</h2>

    <h1>Ciutat:</h1>
    <h2 th:text="${cinema.city}">Ciutat</h2>

</body>

</html>