<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecció de Seients</title>
    <link rel="stylesheet" href="/css/room.css">
</head>

<body>
    <h1>Comprar seients</h1>

    <h2>SCREEN</h2>

    <form th:action="@{/entrades/{screeningId}/comprar(screeningId=${screening.id})}" method="post">
        <div class="seats-grid">
            <div class="seat-item" th:each="seat : ${seats}">
                <input type="checkbox" th:name="seatIds" th:value="${seat.id}" th:id="'seat-' + ${seat.id}"
                    th:disabled="${entradaSeatIds.contains(seat.id)}" th:class="'seat-checkbox ' + ${seat.type}" />
                <label th:for="'seat-' + ${seat.id}"
                    th:text="${seat.y + ', ' + seat.x + (entradaSeatIds.contains(seat.id) ? ' (X)' : '')}">
                </label>
            </div>
        </div>

        <button type="submit" class="btn-submit">Comprar</button>
    </form>
</body>

</html>