<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Projecció</title>
</head>

<body>
    <h1>Crear projecció per <span th:text="${movie.title}"></span></h1>

    <form th:action="@{/screenings/{id}/screenings/create(id=${movie.id})}" th:object="${screening}" method="post">
        <label>Data i hora:</label>
        <input type="datetime-local" th:field="*{screeningDateTime}" /><br/>

        <label>Preu:</label>
        <input type="number" step="0.01" th:field="*{price}" /><br/>

        <label>Sala:</label>
        <select th:field="*{room}">
            <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
        </select><br/>

        <button type="submit">Crear</button>
    </form>

    <a th:href="@{/screenings/{id}/screenings(id=${movie.id})}">Tornar a projeccions</a>
</body>

</html>
