<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Home - Cinema DAW</title>
</head>

<body>
    <div th:replace="~{layoutClient :: layout(~{::content})}">
        <div th:fragment="content">

            <h2>Benvingut a Cinema DAW</h2>
            <br>
            <p>Viu el cinema com mai abans!</p>

            <p>Olvida les distraccions y envolta't en una experiencia sensorial absoluta. En cinemadaw, combinem la tecnología de projecció més avançada amb un so envolvent que et fará sentir part de l'acció. 
            <span><br></span>
            <span><br></span>
            -Imatge cristalina: Resolució 4K d'última generació.
            <span><br></span>
            <span><br></span>
            -So Immersiu: Tecnología Dolby Atmos en totes les sales.
            <span><br></span>
            <span><br></span>
            -Comoditat Total: Butaques reclinables amb espai extra per les teves cames.</p>
        </div>
    </div>
</body>

</html>