<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form th:action="@{/login}" method="post">
        <p>USERNAME</p>
        <input type="text" name="username" />
        <br>

        <p>PASSWORD</p>
        <input type="password" name="password" />
        <br>
        <br>
        <br>
        <button>Entrar</button>
    </form>
    <br>
        <p><a th:href="@{/}">Inici</a></p>

</body>

</html>