<!DOCTYPE html>
<html lang="ca">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registre</title>
</head>

<body>

    <h2>Registrar Nou Usuari</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <p>USERNAME</p>
        <input type="text" th:field="*{username}" required />
        <br>

        <p>PASSWORD</p>
        <input type="password" th:field="*{password}" required />
        <br>
        <br>
        <br>
        <button type="submit">Registrar</button>
    </form>

    <br>
    <a th:href="@{/login}">Si ja tens un compte inicia sessió</a>
    <br>
        <p><a th:href="@{/}">Inici</a></p>

</body>

</html>