<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>CinemaDaw</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

    <h2><strong>DETALLS SALA:</strong></h2>

    <section>
        <strong>Nom:</strong>
        <p th:text="${room.name}">Nom:</p>
        <strong>Capacitat:</strong>
        <p th:text="${room.capacity}">Capacitat:</p>
        <a th:href="@{/cinemes/{id}(id=${room.cinema.id})}">Tornar al cinema</a>
    </section>

</body>

</html>